In [3]:
from Session_3.introduction_part2.conditions.conditions import age
!pip install pandas

Requirement already satisfied: pandas in c:\users\cs\anaconda3\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\cs\anaconda3\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\cs\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\cs\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\cs\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\cs\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [5]:
import pandas as pd
a1 = [1,2,4,3]
print(a1)

[1, 2, 4, 3]

In [8]:
import pandas as pd
s1 = pd.Series(a1)
print(s1)

0    1
1    2
2    4
3    3
dtype: int64

In [12]:
print(s1[1])

2

In [16]:
a2 = [1,2,3,4]
s2 = pd.Series(a2,index=['day_1','day_2','day_3','day_4'])
print(s2)

day_1    1
day_2    2
day_3    3
day_4    4
dtype: int64

In [19]:
calories = {"day": "calories","Day 1 ": 1650,"day_2":1650,"day_3":1650,"day_4":1650}
print(calories)
s3 = pd.Series(calories)
print(s3)

{'day': 'calories', 'Day 1 ': 1650, 'day_2': 1650, 'day_3': 1650, 'day_4': 1650}
day       calories
Day 1         1650
day_2         1650
day_3         1650
day_4         1650
dtype: object

In [22]:
d1 = {"calories" : [1258,1259,1678,1654],
      "time":[2,5,6,8]}
s4 = pd.DataFrame(d1)
print(s4)

   calories  time
0      1258     2
1      1259     5
2      1678     6
3      1654     8

In [23]:
print(s4.loc[1])

calories    1259
time           5
Name: 1, dtype: int64

In [26]:
print(s4.loc[[1,2]])

   calories  time
1      1259     5
2      1678     6

In [28]:
print (s4.loc[1:3])

   calories  time
1      1259     5
2      1678     6
3      1654     8

In [37]:
data = {
    "Name": ["Ahmed", "Mohamed", "Hossam", "Heba", "Mostafa"],
    "Age": [25, 30, 35, 40, 28],
    "City": ["Cairo", "Alex", "Giza", "Luxor", "Aswan"]
}

df3 = pd.DataFrame(data, index=["a", "b", "c", "d", "e"])
print(df3)
print (df3.loc["b","City"])
print (df3.loc["a":"d",["Age","City"]])

      Name  Age   City
a    Ahmed   25  Cairo
b  Mohamed   30   Alex
c   Hossam   35   Giza
d     Heba   40  Luxor
e  Mostafa   28  Aswan
Alex
   Age   City
a   25  Cairo
b   30   Alex
c   35   Giza
d   40  Luxor

In [43]:
print(df3.loc[ df3["Age"] > 30])

     Name  Age   City
c  Hossam   35   Giza
d    Heba   40  Luxor

In [45]:
data4 = pd.read_csv("data.csv")
print(data4)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [46]:
data4.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [48]:
data4.tail(15)

     Duration  Pulse  Maxpulse  Calories
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [50]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [51]:
data4.describe()

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

In [56]:
data4['Calorilevel'] = data4['Calories'].apply(lambda x: 'High'if x>400 else 'Normal')
data4.head()

   Duration  Pulse  Maxpulse  Calories Calorilevel
0        60    110       130     409.1        High
1        60    117       145     479.0        High
2        60    103       135     340.0      Normal
3        45    109       175     282.4      Normal
4        45    117       148     406.0        High

In [57]:
data5= data4.dropna()
data5

     Duration  Pulse  Maxpulse  Calories Calorilevel
0          60    110       130     409.1        High
1          60    117       145     479.0        High
2          60    103       135     340.0      Normal
3          45    109       175     282.4      Normal
4          45    117       148     406.0        High
..        ...    ...       ...       ...         ...
164        60    105       140     290.8      Normal
165        60    110       145     300.0      Normal
166        60    115       145     310.2      Normal
167        75    120       150     320.4      Normal
168        75    125       150     330.4      Normal

[164 rows x 5 columns]

In [58]:
datanew = pd.read_csv("data.csv")
datanew.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [59]:
mean = datanew['Calories'].mean()
print(mean)

375.79024390243904

In [60]:
datanew.fillna({"Calories" : mean}, inplace = True)