In [1]:
import pandas as pd
from pymongo import MongoClient
from bson.objectid import ObjectId

In [2]:
# define connection string
Orders = MongoClient('mongodb://localhost:27017')

In [3]:
db = Orders["Retail_Business"]

In [4]:
orders_col = db["Orders"]

In [10]:
# 2) Read data from Orders collection
data = list(orders_col.find())
df = pd.DataFrame(data)

print("Number of records:", df.shape[0])
df.head(10)

Number of records: 200000

,_id,customer,branch,sale,product
0,69738ec9f4a5170580a930a2,"{'id': 3649, 'name': 'Sara Mahmoud', 'gender':...","{'id': 7, 'name': '6th of October Branch', 'ci...","{'id': 1, 'date': '2023-07-18', 'total_amount'...","{'id': 19887, 'name': 'Beauty Product 19887', ..."
1,69738ec9f4a5170580a930a3,"{'id': 3649, 'name': 'Sara Mahmoud', 'gender':...","{'id': 7, 'name': '6th of October Branch', 'ci...","{'id': 1, 'date': '2023-07-18', 'total_amount'...","{'id': 28176, 'name': 'Electronics Product 281..."
2,69738ec9f4a5170580a930a4,"{'id': 3649, 'name': 'Sara Mahmoud', 'gender':...","{'id': 7, 'name': '6th of October Branch', 'ci...","{'id': 1, 'date': '2023-07-18', 'total_amount'...","{'id': 35551, 'name': 'Electronics Product 355..."
3,69738ec9f4a5170580a930a5,"{'id': 4573, 'name': 'Esraa Mahmoud', 'gender'...","{'id': 189, 'name': 'Naqada Branch', 'city': '...","{'id': 2, 'date': '2022-07-29', 'total_amount'...","{'id': 25362, 'name': 'Stationery Product 2536..."
4,69738ec9f4a5170580a930a6,"{'id': 4573, 'name': 'Esraa Mahmoud', 'gender'...","{'id': 189, 'name': 'Naqada Branch', 'city': '...","{'id': 2, 'date': '2022-07-29', 'total_amount'...","{'id': 26696, 'name': 'Groceries Product 26696..."
5,69738ec9f4a5170580a930a7,"{'id': 4573, 'name': 'Esraa Mahmoud', 'gender'...","{'id': 189, 'name': 'Naqada Branch', 'city': '...","{'id': 2, 'date': '2022-07-29', 'total_amount'...","{'id': 36394, 'name': 'Electronics Product 363..."
6,69738ec9f4a5170580a930a8,"{'id': 4573, 'name': 'Esraa Mahmoud', 'gender'...","{'id': 189, 'name': 'Naqada Branch', 'city': '...","{'id': 2, 'date': '2022-07-29', 'total_amount'...","{'id': 42297, 'name': 'Clothing Product 42297'..."
7,69738ec9f4a5170580a930a9,"{'id': 3071, 'name': 'Omar Ahmed', 'gender': '...","{'id': 56, 'name': 'Menouf Branch', 'city': 'T...","{'id': 4, 'date': '2023-04-22', 'total_amount'...","{'id': 31, 'name': 'Stationery Product 31', 'c..."
8,69738ec9f4a5170580a930aa,"{'id': 3071, 'name': 'Omar Ahmed', 'gender': '...","{'id': 56, 'name': 'Menouf Branch', 'city': 'T...","{'id': 4, 'date': '2023-04-22', 'total_amount'...","{'id': 124, 'name': 'Groceries Product 124', '..."
9,69738ec9f4a5170580a930ab,"{'id': 3071, 'name': 'Omar Ahmed', 'gender': '...","{'id': 56, 'name': 'Menouf Branch', 'city': 'T...","{'id': 4, 'date': '2023-04-22', 'total_amount'...","{'id': 5579, 'name': 'Groceries Product 5579',..."

In [6]:
# Extract useful fields from nested documents

df["customer_id"] = df["customer"].apply(lambda x: x["id"])
df["customer_name"] = df["customer"].apply(lambda x: x["name"])

df["branch_id"] = df["branch"].apply(lambda x: x["id"])
df["branch_name"] = df["branch"].apply(lambda x: x["name"])

df["sale_id"] = df["sale"].apply(lambda x: x["id"])
df["sale_date"] = pd.to_datetime(df["sale"].apply(lambda x: x["date"]))
df["sale_total"] = df["sale"].apply(lambda x: x["total_amount"])

df["product_id"] = df["product"].apply(lambda x: x["id"])
df["product_name"] = df["product"].apply(lambda x: x["name"])
df["product_category"] = df["product"].apply(lambda x: x["category"])
df["product_price"] = df["product"].apply(lambda x: x["price"])
df["product_quantity"] = df["product"].apply(lambda x: x["quantity"])

# عرض أول صفوف بعد الفرد
df[[
    "customer_id", "customer_name",
    "branch_name",
    "sale_total", "sale_date",
    "product_name", "product_quantity"
]].head()

,customer_id,customer_name,branch_name,sale_total,sale_date,product_name,product_quantity
0,3649,Sara Mahmoud,6th of October Branch,3748.89,2023-07-18,Beauty Product 19887,4
1,3649,Sara Mahmoud,6th of October Branch,3748.89,2023-07-18,Electronics Product 28176,4
2,3649,Sara Mahmoud,6th of October Branch,3748.89,2023-07-18,Electronics Product 35551,3
3,4573,Esraa Mahmoud,Naqada Branch,10182.82,2022-07-29,Stationery Product 25362,1
4,4573,Esraa Mahmoud,Naqada Branch,10182.82,2022-07-29,Groceries Product 26696,3

In [8]:
# STEP 2 — Top Customers Analysis

# أولًا: نجيب Orders بدون تكرار (حسب sale_id + customer)
orders_unique = df[["sale_id", "customer_id", "customer_name", "sale_total"]].drop_duplicates() # ديه علشان تشبل اي تكرار

# نعمل Groupby
top_customers = (
    orders_unique
    .groupby(["customer_id", "customer_name"])
    .agg(
        total_spent=("sale_total", "sum"),
        total_orders=("sale_id", "count")
    )
    .reset_index()
    .sort_values(by="total_spent", ascending=False)
)

top_customers.head(20)

       customer_id        customer_name  total_spent  total_orders
9222         10099         Khaled Kamel     95556.26             9
7879          8636       Mariam Youssef     93448.75            10
7000          7664          Ahmed Kamel     90775.39             8
6655          7287       Mariam Mahmoud     84686.83             8
10329        11334          Aya Ibrahim     80320.33             9
1387          1512          Sara Hassan     80095.92             7
11306        12399       Mariam Ibrahim     80088.78             7
646            709          Aya Youssef     79994.27             8
14935        16371          Menna Ahmed     79206.05             9
3433          3752          Nour Hassan     78383.04            10
1980          2174  Mahmoud Abdelrahman     78015.83             8
11715        12839        Mostafa Sayed     77659.32             8
10236        11233      Youssef Youssef     77171.58             8
10590        11621          Youssef Ali     76292.33             7
11009        12079          Esraa Ahmed     76083.85             8
2902          3175        Esraa Ibrahim     75604.83             7
17302        18947        Menna Mahmoud     75194.63             7
17321        18970     Sara Abdelrahman     74630.01             7
11444        12548        Mahmoud Ahmed     74543.97             8
13001        14246          Ali Mahmoud     74468.59             6